.emoji-container {
  flex-direction: row;
  height: 350px;
  width: 270px;
  border-radius: 2%;
  border: 1px solid rgb(203, 205, 209);
  background-color: white;
  flex-wrap: wrap;
  flex-basis: 100%;
  position: absolute;
  bottom: 70px;
}

.emoticon-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: calc(100% - 119px);
  padding: 10px 15px;
  width: auto;
  margin: 0px auto;
}

.grid {
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 22px;
  cursor: copy;
}

.navbar-container {
  margin: 0px auto;
  width: fit-content;
}

#navbar {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
  background-color: rgb(241, 243, 244);
  border-bottom: 1px solid rgb(203, 205, 209); 
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.em-nav {
  padding: 3px 4px 3px 8px;
  display: block;
  color: white;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  margin: 3px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 12px;
  border: 1px solid rgb(203, 205, 209);
  background-color: rgb(241, 243, 244);
}

.em-nav.active {
  border: 1px solid rgb(203, 205, 209);
  background-color: rgb(203, 205, 209);
}

.em-nav:hover {
  background-color: rgb(203, 205, 209);
  cursor: pointer;
}

.oIy2qc {
  color: #345252 !important;
  font-size: 17px !important;
  padding-top: 3px !important;
}

.YTbUzc {
  font-size: 17px !important;
  padding-bottom: 10px !important;
}

.open-chat {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid rgb(241, 243, 244);;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 0px 1px 3px 4px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgb(241, 243, 244);
}

.open-chat:hover{
  border: 1px solid rgb(203, 205, 209);
  background-color: rgb(203, 205, 209);
}

.open-chat.active {
  background-color: rgb(203, 205, 209);
}

.popup {
  height: 338px;
  width: 270px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.emoji-container-popup {
  height: 350px;
  width: 270px;
  top: 0px;
  position: absolute;
  background-color: white;
  border: none;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex-direction: row;
}

.emoji-container-popup .em-nav {
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 2px;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}